antlr4-python3-runtime==4.9.3
cffi==2.0.0
cloudpickle==3.1.2
-e git+https://github.com/facebookresearch/demucs.git@e976d93ecc3865e5757426930257e200846a520a#egg=demucs
dora_search==0.1.12
einops==0.8.2
filelock==3.29.0
fsspec==2026.4.0
Jinja2==3.1.6
julius==0.2.7
lameenc==1.8.2
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
openunmix==1.3.0
packaging==26.2
pycparser==3.0
PyYAML==6.0.3
retrying==1.4.2
setuptools==82.0.1
soundfile==0.13.1
submitit==1.5.4
sympy==1.14.0
torch==2.4.1
torchaudio==2.4.1
tqdm==4.67.3
treetable==0.2.6
triton==3.0.0
typing_extensions==4.15.0
wheel==0.47.0
